<div class="my-info-container">
    <div class="profile-container">
        <div class="profile-image">
          <img
            src={{userDetails?.userImg}}
            width="50"
            height="50"
            style="border-radius: 50%; overflow: hidden"
          />
        </div>
        <div class="user-role">
          <h2>{{userDetails?.firstName}} {{userDetails?.lastName}}</h2>
          <h4>{{userDetails?.jobTitle}}</h4>
        </div>
      </div>
  <div class="profile-details">
    <mat-tab-group>
      <mat-tab *ngFor="let tabName of tabs">
        <ng-template mat-tab-label>
          {{ tabName }}
        </ng-template>
        <div style="display: flex;padding: 10px;">
          <!-- <div style="background-color: grey;
          margin-right: 20px;"> Left side Info</div> -->
          <div><app-personal-info *ngIf="tabName === 'Personal'"></app-personal-info></div>
          <div><app-documents-info *ngIf="tabName === 'Documents'"></app-documents-info></div>
          <div><app-pay-info *ngIf="tabName === 'Pay Info'"></app-pay-info></div>
          <div><app-leaves  *ngIf="tabName === 'Leaves'"></app-leaves></div>
          <div><app-benefits *ngIf="tabName === 'Benefits'"></app-benefits></div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
