<mat-toolbar style="background:#1b6648">
    <img src="../../assets/ONBOARDING.png" width="50" height="50" style="border-radius: 50%;overflow: hidden;">
    <mat-nav-list class="list-horizontal">
      <mat-list-item>
        <a href routerLink="/home" routerLinkActive="active_route">Home</a>
      </mat-list-item>
      <mat-list-item>
        <a href  routerLink="/my-info" routerLinkActive="active_route">My Info</a>
      </mat-list-item>
      <mat-list-item>
        <a href  routerLink="/people" routerLinkActive="active_route">People</a>
      </mat-list-item>
      <mat-list-item>
        <a href  routerLink="/files" routerLinkActive="active_route">Files</a>
      </mat-list-item>
      <mat-list-item>
        <a href  routerLink="/reports" routerLinkActive="active_route">Reports</a>
      </mat-list-item>
    </mat-nav-list>
      <!-- // Add the user name and should display in right on click of user name a menu has to pen to give option for logout -->
      <div class="user-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <!-- <span class="user-name">Admin</span> -->
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>
